<body>
<br />

<%= link_to "Create New Post", new_post_path %>

<hr />

<% @posts.each do |post| %>

   <div style="padding : 10px; margin: 10px; background-color:#23ffef; border: 2px solid #aaa">


      <strong><%= link_to post.title, post_path(post)  %></strong>
		
      <br/>
		   <strong>Category: <%= post.category.category %></strong>
		<br />
		
      <small>published on : <%= format_date(post.created_at) %></small>
	<%= link_to "Delete" , post_path(post), :method => :delete, :data => {:confirm => "Are you sure?"}%>


   </div>
<% end %>
</body>
